<!DOCTYPE html>
<html lang="ru">
<head>
    <title>All Notes – GoNote</title>

    {{template "head.go.html"}}

</head>
<body>
    <div class="page">
        <aside class="sidebar-left"></aside>
        <main class="content">
            <h1>All Notes</h1>
            {{range .notes}}
                <a class="sidebar-left-link" href="/note/{{.ID}}" target="_blank">{{.Title}} {{if .Author}}· {{.Author}}{{end}} · {{.UpdatedAt.Format "January 02, 2006"}} / {{.UpdatedAt.Format "January 02, 2006"}}</a><br>
            {{else}}
                <p>No notes yet.</p>
            {{end}}
        </main>
        <aside class="sidebar-right"></aside>
    </div>
</body>
</html>
