<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{if .note}}{{.note.Title}} - GoNote{{else}}GoNote{{end}}</title>
    
    {{template "head.go.html"}}

    <meta name="description" content="GoNote — пиши заметки и инструкции в пару кликов. Красиво оформи, сохрани и поделись без лишних заморочек.">
    <meta name="keywords" content="заметки, блог, статьи, инструкции, онлайн редактор, GoNote">
    <link rel="canonical" href="http://gonote.ru/">

    <meta property="og:type" content="article">
    <meta property="og:title" content="GoNote">
    <meta property="og:description" content="Запиши, оформи, отправь! GoNote — лёгкий редактор для твоих идей, заметок и инструкций">
    <meta property="og:url" content="http://gonote.ru">
    <meta property="og:site_name" content="GoNote">
    <meta property="og:image" content="http://gonote.ru/banner.png" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="GoNote">
    <meta name="twitter:description" content="Запиши, оформи, отправь! GoNote — лёгкий редактор для твоих идей, заметок и инструкций">
    <meta name="twitter:card" content="summary_large_image" />

    <style>
        .char-counter {
            margin-top: 8px;
            font-size: 14px;
            color: gray;
            transition: color 0.3s, opacity 0.3s;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="left-sidebar"></div>
    <div class="content">
        <input type="text" class="title-input" placeholder="Title" value="{{if .note}}{{.note.Title}}{{end}}">
        <input type="text" class="meta-input" placeholder="Your name" value="{{if .note}}{{.note.Author}}{{end}}">
        <div id="editor">
            {{.content}}
        </div>
        <div class="char-counter" id="charCounter">0 / 1000000</div>
    </div>

    <div class="sidebar">
        <button class="pub-btn" id="pubBtn">Publish</button>
        <button class="pub-btn" id="passBtn">Publish Password</button>
    </div>
</div>

<!-- Модальное окно для предупреждения о пароле -->
<div id="pubModal" class="modal">
    <div class="modal-content">
        {{if .isRussian}}
            <p class="modal-title">Пожалуйста, запомните</p>
            <p>Если вы захотите отредактировать эту страницу позже, вам понадобится этот пароль. Запишите или запомните этот пароль</p>
            <p>Ваш Пароль: <span id="modalPassword" style="font-weight:bold;"></span></p>
            <button id="confirmPub">Опубликовать</button>
        {{else}}
            <p class="modal-title">Please Remember</p>
            <p>If you want to edit this page later, you should remember or save the password</p>
            <p>Your Password: <span id="modalPassword" style="font-weight:bold;"></span></p>
            <button id="confirmPub">Publish</button>
        {{end}}
    </div>
</div>

<script>
    const icons = Quill.import('ui/icons');
    const charCounter = document.getElementById('charCounter');
    const LIMIT = 1000000;

    icons['image-link'] = `
        <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
          <!-- Верхняя линия -->
          <line class="ql-stroke" x1="3" y1="4" x2="15" y2="4"></line>
          <!-- Левая линия -->
          <line class="ql-stroke" x1="3" y1="4" x2="3" y2="14"></line>
          <!-- Правая линия (не до конца) -->
          <line class="ql-stroke" x1="15" y1="4" x2="15" y2="7"></line>
          <!-- Нижняя линия (не до конца) -->
          <line class="ql-stroke" x1="3" y1="14" x2="7" y2="14"></line>

          <!-- Солнце -->
          <circle class="ql-fill" cx="6" cy="7" r="1"></circle>

          <!-- Иконка ссылки -->
          <g transform="scale(0.8) translate(7,7)">
            <line class="ql-stroke" x1="7" x2="11" y1="7" y2="11"></line>
            <path class="ql-even ql-stroke"
                  d="M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z"></path>
            <path class="ql-even ql-stroke"
                  d="M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z"></path>
          </g>
        </svg>`;

    icons['hr'] = `
        <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
            <line class="ql-stroke" x1="3" x2="15" y1="9" y2="9"></line>
        </svg>`;

    const BlockEmbed = Quill.import('blots/block/embed');

    class HrBlot extends BlockEmbed {
    }
    HrBlot.blotName = 'hr';
    HrBlot.tagName = 'hr';

    Quill.register(HrBlot);

    const quill = new Quill('#editor', {
        theme: 'bubble',
        modules: {
            toolbar: {
                container: [
                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],
                    ['link', 'image', 'image-link', 'video', 'formula'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],
                    [{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{ 'direction': 'rtl' }],
                    [{ 'size': ['small', false, 'large', 'huge'] }],
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'font': [] }],
                    [{ 'align': [] }],
                    ['hr'],
                    ['clean']
                ],
                handlers: {
                    'hr': function() {
                        const range = this.quill.getSelection(true);
                        if (range && range.length > 0) {
                            quill.deleteText(range.index, range.length);
                        }
                        quill.insertEmbed(range.index, 'hr', true, Quill.sources.USER);
                        quill.setSelection(range.index + 1);
                    },
                    'image-link': function() {
                        const tooltip = this.quill.theme.tooltip;

                        tooltip.edit('image', '');
                        tooltip.textbox.placeholder = 'Image Url';

                        const originalSave = tooltip.save;

                        tooltip.save = function() {
                            const url = tooltip.textbox.value;
                            if (url) {
                                const range = quill.getSelection(true);
                                if (range && range.length > 0) {
                                    quill.deleteText(range.index, range.length);
                                }
                                quill.insertEmbed(range.index, 'image', url);
                                quill.setSelection(range.index + 1);
                            }
                            tooltip.hide();
                        }
                    },
                    'clean': function() {
                        const range = this.quill.getSelection();
                        if (!range || range.length === 0) return;

                        const delta = this.quill.getContents(range.index, range.length);
                        let replaced = false;

                        delta.ops.forEach((op, i) => {
                            if (op.insert && op.insert.image) {
                                const imageUrl = op.insert.image;
                                this.quill.deleteText(range.index + i, 1, 'user');
                                this.quill.insertText(range.index + i, imageUrl, { link: imageUrl }, 'user');
                                replaced = true;
                            }
                        });

                        if (!replaced) {
                            this.quill.removeFormat(range.index, range.length, 'user');
                        }
                    }
                }
            },
        },
        placeholder: 'Your note...'
    });

    quill.root.addEventListener('paste', (e) => {
        const clipboardData = e.clipboardData || window.clipboardData;
        const text = clipboardData.getData('text').trim();

        if (!text || !/^https?:\/\//i.test(text)) return;

        e.preventDefault();

        const range = quill.getSelection(true) || { index: quill.getLength() };

        // создаём временный объект Image для проверки, так как CORS не дает проверять через fetch
        const img = new Image();
        img.onload = () => {
            quill.insertEmbed(range.index, 'image', text, 'user');
            quill.setSelection(range.index + 1);
        };
        img.onerror = () => {
            try {
                quill.insertText(range.index, text, { link: text });
                quill.setSelection(range.index + text.length);
            } catch {
                quill.insertText(range.index, text, 'user');
                quill.setSelection(range.index + text.length);
            }
        };

        img.src = text;
    });

    function updateCounter() {
        const len = quill.root.innerHTML.length;
        charCounter.textContent = `${len} / ${LIMIT}`;

        if (len > LIMIT) {
            charCounter.style.color = "red";
            charCounter.style.opacity = 1;
        } else {
            charCounter.style.color = "gray";
            charCounter.style.opacity = Math.min(len / LIMIT,1.0);
        }
    }

    quill.on('text-change', updateCounter);
    updateCounter();
</script>
<script>
    const passBtn = document.getElementById('passBtn');
    const pubBtn = document.getElementById('pubBtn');
    const pubModal = document.getElementById('pubModal');
    const confirmPubBtn = document.getElementById('confirmPub');
    const noteID = "{{if .note}}{{.note.ID}}{{else}}new{{end}}";
    const preGeneratedPassword = generatePassword();

    function pubNote(pass) {
        const title = document.querySelector('.title-input').value;
        const author = document.querySelector('.meta-input').value;
        const content = quill.root.innerHTML;

        if (!content){
            return;
        }

        fetch(`/note/${noteID}/pub`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({title, author, content, password:pass})
        })
            .then(res => res.json())
            .then(data => {
                if (data.ok) {
                    window.location.href = `/note/`+data.noteID;
                } else {
                    alert('Error: ' + (data.error || 'Unknown error'));
                }
            });
    }

    pubBtn.addEventListener('click', () => {
        pubNote("");
    });

    function generatePassword(length = 24) {
        const chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        let pass = "";
        for (let i = 0; i < length; i++) {
            pass += chars.charAt(Math.floor(Math.random() * chars.length));
        }
        return pass;
    }

    passBtn.addEventListener("click", () => {
        document.getElementById('modalPassword').innerText = preGeneratedPassword;
        pubModal.style.display = "block";
    });

    confirmPubBtn.addEventListener('click', () => {
        pubNote(preGeneratedPassword);
        pubModal.style.display = 'none';
    });

    pubModal.addEventListener("click", (event) => {
        if (event.target === pubModal) {
            pubModal.style.display = "none";
        }
    });
</script>

</body>
</html>
