<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{if .note}}{{.note.Title}} - GoNote{{else}}GoNote{{end}}</title>

    {{template "head.go.html"}}

    <meta name="description" content="{{.note.Title}} — {{if .note.Author}} {{.note.Author}}, {{end}}{{.note.CreatedAt.Format "02 Jan 2006"}}">
    <meta name="keywords" content="заметки, блог, статьи, инструкции, GoNote {{.note.Author}}">
    <link rel="canonical" href="https://gonote.ru/note/{{.note.ID}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{.note.Title}}">
    <meta property="og:description" content="{{if .note.Author}} {{.note.Author}} · {{end}}{{.note.CreatedAt.Format "January 02, 2006"}}">
    <meta property="og:url" content="{{if .note}}https://gonote.ru/note/{{.note.ID}}{{else}}https://gonote.ru{{end}}">
    <meta property="og:site_name" content="GoNote">
    <meta property="og:image" content="https://gonote.ru/banner.png" />

    <meta name="twitter:title" content="{{.note.Title}}">
    <meta name="twitter:description" content="{{if .note.Author}} {{.note.Author}} · {{end}}{{.note.CreatedAt.Format "January 02, 2006"}}">
    <meta name="twitter:card" content="summary_large_image" />
</head>
<body>
<div class="page">
    <aside class="sidebar-left">
    </aside>
    <main class="content">
        <div class="header">
            <h1 class="header-title">{{.note.Title}}</h1>
            <span class="header-meta">{{if .note.Author}}{{.note.Author}} · {{end}}{{.note.CreatedAt.Format "January 02, 2006"}}
                    · <svg style="vertical-align: middle; margin-bottom: 3px" xmlns="http://www.w3.org/2000/svg" class="icon icon-eye" width="16" height="16" viewBox="0 0 20 20" fill="#b6b8bf">
                        <g fill-rule="evenodd" clip-rule="evenodd" fill="#b6b8bf"><path d="M14.152 10.5c0 2.439-1.862 4.423-4.152 4.423-2.285 0-4.144-1.984-4.144-4.423 0-2.443 1.859-4.43 4.144-4.43 2.29 0 4.152 1.987 4.152 4.43Zm5.303-1.361C17.662 7.314 14.047 4.25 10 4.25c-4.053 0-7.661 3.063-9.453 4.89-.353.358-.55.85-.547 1.36 0 .518.194 1.002.547 1.36C2.34 13.686 5.954 16.75 10 16.75c4.054 0 7.664-3.064 9.455-4.89.352-.36.545-.842.545-1.361 0-.517-.194-1-.545-1.359"></path><path d="M12.5 10.503A2.503 2.503 0 0 1 9.996 13 2.502 2.502 0 0 1 7.5 10.503 2.502 2.502 0 0 1 9.996 8a2.504 2.504 0 0 1 2.504 2.503Z"></path></g>
                    </svg>
                    {{.counter}}
            </span>
        </div>

        <div id="editor">
            {{.content}}
        </div>
    </main>
    <aside class="sidebar-right">
        <button class="sidebar-right-btn" id="copyBtn">Copy Link</button>
        <button class="sidebar-right-btn" id="shareBtn">Share</button>
        {{if or .hasEdit .hasPass}}
            <button class="sidebar-right-btn" id="editBtn">Edit</button>
        {{end}}
        <button class="sidebar-right-btn" id="reportBtn">Report</button>
    </aside>
</div>

<div id="passwordModal" class="modal">
    <div class="modal-content">
        <p class="modal-title">Enter Password</p>
        <input type="password" id="notePassword" placeholder="Password">
        <button id="submitPassword">Edit Note</button>
    </div>
</div>

<div id="reportModal" class="modal">
    <div class="modal-content">
        <p class="modal-title">Report</p>

        <p for="reportReason">Reason:</p>
        <select id="reportReason">
            <option value="" disabled selected>Select a reason</option>
            <option value="Porn / Adult content">Porn / Adult content</option>
            <option value="Copyright / Licensed content">Copyright / Licensed content</option>
            <option value="Hate / Harassment">Hate / Harassment</option>
            <option value="Violence / Gore">Violence / Gore</option>
            <option value="Self-harm / Suicide">Self-harm / Suicide</option>
            <option value="Privacy violation / Personal info">Privacy violation / Personal info</option>
            <option value="Illegal activity / Drugs">Illegal activity / Drugs</option>
            <option value="Other">Other</option>
        </select>

        <p>Email:</p>
        <input type="email" id="reportEmail" placeholder="email@example.com">

        <p>Details:</p>
        <textarea id="reportText" placeholder="Describe the issue"></textarea>

        <button id="submitReport">Send</button>
        <div class="msg-box" id="msgBox"></div>
    </div>
</div>

<script>
    window.gonote_config = {
        noteID: "{{.note.ID}}",
        hasEdit: {{.hasEdit}},
        hasPass: {{.hasPass}},
        isRussian: {{.isRussian}}
    };
</script>
<script src="/js/shared.js"></script>
<script src="/js/viewer.js"></script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{{.note.Title}}",
  "author": {
    "@type": "Person",
    "name": "{{.note.Author}}"
  },
  "datePublished": "{{.note.CreatedAt.Format "2006-01-02"}}",
  "publisher": {
    "@type": "Organization",
    "name": "GoNote",
    "logo": {
      "@type": "ImageObject",
      "url": "{{.BaseURL}}/static/logo.png"
    }
  }
}
</script>

</body>
</html>