<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{if .note}}{{.note.Title}} - GoNote{{else}}GoNote{{end}}</title>

    {{template "head.go.html"}}

    <meta name="description" content="{{.note.Title}} — {{if .note.Author}}Автор: {{.note.Author}}, {{end}}{{.note.CreatedAt.Format "02 Jan 2006"}}">
    <meta name="keywords" content="заметка, блог, статьи, GoNote, {{.note.Author}}">
    <link rel="canonical" href="http://gonote.ru/note/{{.note.ID}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{.note.Title}}">
    <meta property="og:description" content="{{if .note.Author}}Автор: {{.note.Author}} · {{end}}{{.note.CreatedAt.Format "January 02, 2006"}}">
    <meta property="og:url" content="{{if .note}}http://gonote.ru/note/{{.note.ID}}{{else}}http://gonote.ru{{end}}">
    <meta property="og:site_name" content="GoNote">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{.note.Title}}">
    <meta name="twitter:description" content="{{if .note.Author}}Автор: {{.note.Author}} · {{end}}{{.note.CreatedAt.Format "January 02, 2006"}}">
</head>
<body>
<div class="page">
    <div class="left-sidebar"></div>
    <div class="content">
        <div class="header">
            <h1 class="header-title">{{.note.Title}}</h1>
            <span class="header-meta">{{if .note.Author}}{{.note.Author}} ● {{end}}{{.note.CreatedAt.Format "January 02, 2006"}}</span>
        </div>

        <div id="editor">
            {{.content}}
        </div>
    </div>

    <div class="sidebar">
        <button class="pub-btn" id="copyBtn">Copy Link</button>
        <button class="pub-btn" id="shareBtn">Share</button>
        {{if or .hasEdit .hasPass}}
            <button class="pub-btn" id="editBtn">Edit</button>
        {{end}}
    </div>
</div>

<div id="passwordModal" class="modal">
    <div class="modal-content">
        <p class="modal-title">Enter Password</p>
        <input type="password" id="notePassword" placeholder="Password">
        <button id="submitPassword">Edit Note</button>
    </div>
</div>
<script>
    const copyBtn = document.getElementById("copyBtn");
    const shareBtn = document.getElementById("shareBtn");

    copyBtn.addEventListener("click", () => {
        const link = window.location.href; // текущая ссылка
        navigator.clipboard.writeText(link).then(() => {
            copyBtn.textContent = "Copied!";
            setTimeout(() => copyBtn.textContent = "Copy Link", 1500);
        }).catch(err => {
            copyBtn.textContent = "Error Copy";
            setTimeout(() => copyBtn.textContent = "Copy Link", 1500);
        });
    });

    if (navigator.share) {
        shareBtn.addEventListener("click", async () => {
            const link = window.location.href;
            const title = document.querySelector(".header-title")?.textContent || "GoNote";

            try {
                await navigator.share({
                    title: title,
                    text: "GoNote:",
                    url: link,
                });
            } catch (err) {
                console.log("Share canceled:", err);
            }
        });
    } else {
        shareBtn.style.display = "none";
    }

    new Quill('#editor', {
        readOnly: true,
        theme: 'bubble',
    });
</script>
{{if or .hasEdit .hasPass}}
<script>
    // Значения из бэкенда
    const hasEdit = {{.hasEdit}};
    const hasPass = {{.hasPass}};
    const noteID = "{{.note.ID}}";

    // Элементы
    const modal = document.getElementById("passwordModal");
    const passwordInput = document.getElementById("notePassword");
    const submitBtn = document.getElementById("submitPassword");
    const editBtn = document.getElementById("editBtn");

    // Клик по Edit
    editBtn.addEventListener("click", () => {
        if (hasEdit) {
            window.location.href = "/note/" + noteID + "/edit";
        } else if (hasPass) {
            modal.style.display = "block";
            passwordInput.focus();
        }
    });

    // Клик "Войти"
    submitBtn.addEventListener("click", () => {
        const password = passwordInput.value;
        fetch("/note/" + noteID + "/checkpass", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({password: password})
        })
            .then(res => res.json())
            .then(data => {
                if (data.ok) {
                    window.location.href = "/note/" + noteID + "/edit";
                } else {
                    alert("Неверный пароль");
                }
            });
    });

    // Обработка клавиш
    document.addEventListener("keydown", (e) => {
        if (modal.style.display === "block") {
            if (e.key === "Escape") {
                modal.style.display = "none";
            }
            if (e.key === "Enter" && document.activeElement === passwordInput) {
                submitBtn.click();
            }
        }
    });

    // Клик вне окна
    modal.addEventListener("click", (event) => {
        if (event.target === modal) {
            modal.style.display = "none";
            passwordInput.value = "";
        }
    });
</script>
{{end}}

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{{.note.Title}}",
  "author": {
    "@type": "Person",
    "name": "{{.note.Author}}"
  },
  "datePublished": "{{.note.CreatedAt.Format "2006-01-02"}}",
  "publisher": {
    "@type": "Organization",
    "name": "GoNote",
    "logo": {
      "@type": "ImageObject",
      "url": "{{.BaseURL}}/static/logo.png"
    }
  }
}
</script>

</body>
</html>