<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <title>{{if .note}}{{.note.Title}} - GoNote{{else}}GoNote{{end}}</title>
    
    {{template "head.go.html"}}

    <meta name="description" content="GoNote — {{.PageEditNoteDescription}}">
    <meta name="keywords" content="{{.PageEditNoteKeywords}}, GoNote">
    <link rel="canonical" href="https://gonote.ru/">

    <meta property="og:type" content="article">
    <meta property="og:title" content="GoNote">
    <meta property="og:description" content="{{.PageEditNoteOGDescription}}">
    <meta property="og:url" content="https://gonote.ru">
    <meta property="og:site_name" content="GoNote">
    <meta property="og:image" content="https://gonote.ru/banner.png" />

    <meta name="twitter:title" content="GoNote">
    <meta name="twitter:description" content="{{.PageEditNoteOGDescription}}">
    <meta name="twitter:card" content="summary_large_image" />

</head>
<body>
<div class="page">
    <aside class="sidebar-left">
        <div class="menu-editor" id="menu-editor">
            {{.menu}}
        </div>
    </aside>
    <main class="content">
        <input type="text" class="title-input" placeholder="{{.PageEditNoteTitle}}" value="{{if .note}}{{.note.Title}}{{end}}">
        <input type="text" class="meta-input" placeholder="{{.PageEditNoteYourName}}" value="{{if .note}}{{.note.Author}}{{end}}">
        <div id="editor">
            {{.content}}
        </div>
        <div class="char-counter" id="charCounter">0 / 1000000</div>
    </main>
    <aside class="sidebar-right">
        <button class="sidebar-right-btn" id="pubBtn">{{.PageEditNotePublish}}</button>
        {{ if not .disablePasswordPublishing }}
        <button class="sidebar-right-btn" id="passBtn">{{.PageEditNotePublishPassword}}</button>
        {{end}}
        <div class="msg-box" id="msgBox"></div>
    </aside>
</div>

<!-- Модальное окно для предупреждения о пароле -->
<div id="pubModal" class="modal">
    <div class="modal-content">
            <p class="modal-title">{{.PageEditNoteModalTitle}}</p>
            <p>{{.PageEditNoteModalMessage}}</p>
            <p>{{.PageEditNoteModalYourPass}}: <span id="modalPassword" style="font-weight:bold;"></span></p>
            <button id="confirmPub">{{.PageEditNotePublish}}</button>
    </div>
</div>

<script>
    window.gonote_config = {
        noteID: "{{if .note}}{{.note.ID}}{{else}}new{{end}}",
        initialTitle: {{if .note}}{{.note.Title}}{{else}}""{{end}},
        initialAuthor: {{if .note}}{{.note.Author}}{{else}}""{{end}},
        initialContent: {{.content}},
        MsgErrEmptyTitle: "{{js .MsgErrEmptyTitle}}",
        MsgErrTitleSmall: "{{js .MsgErrTitleSmall}}",
        MsgErrContentEmpty: "{{js .MsgErrContentEmpty}}",
        MsgErrContentLarge: "{{js .MsgErrContentLarge}}",
        MsgErrMenuLarge: "{{js .MsgErrMenuLarge}}",
        PageEditNoteYourNote: "{{js .PageEditNoteYourNote}}",
        PageEditNoteMenuPH: "{{js .PageEditNoteMenuPH}}",
    };
</script>
<script src="/st/js/shared.js"></script>
<script src="/st/js/editor.js"></script>

</body>
</html>
