<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
<meta name="theme-color" content="#ffffff">

<link rel="icon" type="image/png" href="/st/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/st/favicon.svg" />
<link rel="shortcut icon" href="/st/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/st/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="GoNote" />
<link rel="manifest" href="/st/site.webmanifest" />

<link href="https://cdn.quilljs.com/1.3.7/quill.bubble.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
{{template "metrika.go.html"}}

<link rel="stylesheet" href="/st/css/gonote.css">
